.pizza1-img {
  height: 200px;
  width: 100%;
  position: absolute;
  top: 60px;
}

.restaurant-name {
  height: 100px;
  width: 100%;
  top: 180px;
  position: absolute;
  background-color: bisque;
}

.small-pizza-img {
  height: 70px;
  width: 70px;
  top: 85px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 10;
}
