.header-section {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 200px;
  background-color: rgba(0, 7, 146, 0.337);
  align-items: center;
  position: relative;
}

.banner-bg {
  display: flex;
  width: 100%;
  height: 120px;
}

.header-name {
  background-color: rgb(186, 186, 186);
  height: 120px;
  width: 100%;
  display: flex;
}
