.d-none {
  display: none;
}

.logo-image {
  width: 160px;
}

.banner-bg img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.round-img img {
  height: 70px;
  width: auto;
  border-radius: 50%;
  position: relative;
  bottom: 160px;
}

.header-name h3 {
  width: 100%;
  padding: 20px 20px 20px 20px;
  font-weight: 600;
  font-size: clamp(1rem, 1.4rem, 1.8rem);
  /* background-color: rgba(128, 255, 0, 0.466); */
}

.header-name p {
  width: 100%;
  padding: 20px;
  font-weight: 200;
  font-size: 1rem;
  color: rgb(28, 111, 86);
}

aside h4 {
  text-align: center;
  font-size: 1.1rem;
  padding: 5px;
}

.course-container p {
  padding: 0 0 0px 20px;
  font-weight: 600;
  font-size: 1.3rem;
}

.card-plus-img img {
  height: 26px;
  width: 26px;
}

.card-plus-img:hover {
  transform: scale(1.05);
}

.shopping-cart h4 {
  text-align: center;
  margin-top: 10px;
}

.minus-button-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.minus-button-cart:hover {
  transform: scale(1.07);
}

.minus-button-img {
  height: auto;
  width: 26px;
}

.plus-button-cart {
  align-items: center;
  height: 30px;
  width: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.plus-button-cart:hover {
  transform: scale(1.07);
}

.plus-button-img {
  height: auto;
  width: 26px;
}

.total-price-button {
  height: 50px;
  width: auto;
  background-color: rgb(2, 134, 0);
  color: white;
  cursor: pointer;
  border-radius: 16px;
  font-size: 1.2rem;
}
